/* BentonSans Regular */
@font-face {
  font-family: 'BentonSans';
  src: url('benton_sans-regular-webfont.woff2') format('woff2'),
       url('benton_sans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* BentonSans Medium */
@font-face {
  font-family: 'BentonSans';
  src: url('benton_sans-medium-webfont.woff2') format('woff2'),
       url('benton_sans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* BentonSans Bold */
@font-face {
  font-family: 'BentonSans';
  src: url('BentonSans-Bold.woff2') format('woff2'),
       url('BentonSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* BentonSans Black */
@font-face {
  font-family: 'BentonSans';
  src: url('BentonSans-Black.woff2') format('woff2'),
       url('BentonSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}





